.account-info {
  display: flex;
  height: 100%;
  align-items: center;
  padding-bottom: 0.5rem;
  figure {
    display: inline-block;
  }
  img {
    max-height: unset;
  }
  span {
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
