@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap')

// Set your brand colors
$light-blue: #00c3ce;

// Update Bulma's global variables
$family-sans-serif: 'Open Sans', sans-serif;
$primary: red;
$link: red;
// $widescreen-enabled: false
// $fullhd-enabled: false

// // Update some of Bulma's component variables
// $body-background-color: #f7ffff;
// $control-border-width: 2px
// $input-border-color: transparent
// $input-shadow: none

@import '../node_modules/bulma/bulma.sass';

// // Import only what you need from Bulma
// @import '../node_modules/bulma/sass/utilities/_all.sass'
// @import '../node_modules/bulma/sass/base/_all.sass'
// @import '../node_modules/bulma/sass/elements/button.sass'
// @import '../node_modules/bulma/sass/elements/container.sass'
// @import '../node_modules/bulma/sass/elements/form.sass'
// @import '../node_modules/bulma/sass/elements/title.sass'
// @import '../node_modules/bulma/sass/components/navbar.sass'
// @import '../node_modules/bulma/sass/layout/hero.sass'
// @import '../node_modules/bulma/sass/layout/section.sass'

@import '../node_modules/bulma-pageloader';

* {
  -webkit-tap-highlight-color: transparent;
}

.button.is-multiline {
  min-height: 2.25em;
  white-space: unset;
  height: auto;
  flex-direction: column;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  .loader {
    height: 80px;
    width: 80px;
  }

  &.is-active {
    opacity: 1;
    z-index: 1;
  }
}
